{% extends "base.html" %}

{% block content %}

<link

rel="stylesheet"

href="{{ url_for(

'static',

filename='css/mentor.css'

) }}">

<div class="chat-wrapper">

<div class="chat-header">

🤖 AI Mentor

</div>

<div

class="chat-container"

id="chatContainer"

>

{% if chat|length==0 %}

<div class="welcome">

<h1>

👋

</h1>

<h2>

Hello {{ current_user.username }}

</h2>

<p>

Ask me anything about your career.

</p>

</div>

{% endif %}

{% for message in chat %}

<div

class="message

{% if message.role=='user' %}

user

{% else %}

ai

{% endif %}"

>

<div class="bubble">

<div>

{{ message.message }}

</div>

{% if message.role=="assistant" %}

<button

class="copy-btn"

onclick="copyText(this)"

>

📋 Copy

</button>

{% endif %}

</div>

</div>

{% endfor %}

<div

id="typing"

class="message ai"

style="display:none;"

>

<div class="bubble">

<div class="typing">

<span></span>

<span></span>

<span></span>

</div>

</div>

</div>

</div>

<form

id="mentorForm"

method="POST"

>

<div class="chat-input">

<div class="input-box">

<textarea

id="question"

name="question"

rows="1"

placeholder="Message AI Mentor..."

required

></textarea>

<button

class="send-btn"

>

➤

</button>

</div>

</div>

</form>

<button

id="scrollBottomBtn"

>

↓

</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script src="{{ url_for('static',filename='js/mentor.js') }}"></script>

{% endblock %}